.chat .header {
  backface-visibility: hidden;
  backdrop-filter: blur(12px);
  position: sticky;
  top: 0%;
  width: 100%;
}
.chat .text-box {
  position: sticky;
  bottom: 0%;
  top: calc(100% - 55px);
}
.chat .text-input {
  outline: none;
  border: 0px;
  border-bottom: solid 2px var(--border);
  background-color: transparent;
  transition: border-color 0.1s ease-in-out;
}
.chat .text-input:focus {
  border-color: var(--app-color);
}
.chat .content {
  height: calc(100vh - 55px);
  overflow-y: scroll;
  padding-top: 50px;
}
.chat .content::-webkit-scrollbar {
  width: 5px;
}
.chat .content::-webkit-scrollbar-thumb {
  background: var(--text-muted);
}

.display .blue {
  background-color: #1d9bf0;
}
.display .pink {
  background-color: #f91880;
}
.display .yellow {
  background-color: #ffd400;
}
.display .purple {
  background-color: #7856ff;
}
.display .green {
  background-color: #00ba7c;
}
.display .orange {
  background-color: #ff7a00;
}
.display .color {
  width: 45px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.display .theme {
  display: flex;
  align-items: center;
  padding: 1rem;
  flex-grow: 1;
  border: solid 2px var(--border);
}
.display .dark {
  background-color: #000000;
  color: #d9d9d9;
}
.display .dim {
  background-color: #15202b;
  color: #ffffff;
}
.display .light {
  background-color: #ffffff;
  color: #0f1419;
}
.display .theme > input {
  height: 20px;
  width: 20px;
  vertical-align: middle;
  margin-right: 1rem;
}
.edit-profile .photo {
  margin-top: -12.5%;
  position: relative;
}
.edit-profile .photo img {
  border: solid 5px var(--bg-primary) !important;
}
.edit-profile .poster {
  height: 200px;
  background-color: var(--bg-muted);
  overflow: hidden;
  position: relative;
}
.edit-profile .camera-plus {
  z-index: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.edit-profile .backdrop-banner {
  background: rgba(0, 0, 0, 0.25);
  position: absolute;
  top: 0%;
  left: 0;
  width: 100%;
  height: 100%;
}
.edit-profile .backdrop-image {
  background: rgba(0, 0, 0, 0.25);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: calc(100% - 10px);
  height: calc(100% - 10px);
  border-radius: 50%;
}
.editor textarea {
  outline: none;
  resize: none;
  background: transparent;
  color: inherit;
}
.editor .profile-image {
  width: 48px;
  height: 48px;
}
.editor .editor-area {
  width: calc(100% - 1rem - 48px);
}
.editor .text-field {
  overflow-wrap: break-word;
  white-space: pre-wrap;
  overflow-y: hidden;
  outline: none;
  min-height: calc(4 * var(--fs-1));
}
.editor .text-field:empty:before {
  content: attr(placeholder);
}
.editor .auto-compelete {
  position: absolute;
  left: 0;
  width: 300px;
  top: 100%;
  max-height: 50vh;
  box-shadow: rgb(255 255 255 / 20%) 0px 0px 15px,
    rgb(255 255 255 / 15%) 0px 0px 3px 1px;
  border-radius: 5px;
  overflow-y: scroll;
}
.header {
  backdrop-filter: blur(12px);
  backface-visibility: rgb(0, 0, 0);
  z-index: 2;
  top: 0%;
}
.header .subtitle {
  margin-top: -5px;
}
.list .image {
  width: 48px;
  height: 48px;
}
.list .profile-image {
  width: 48px;
  height: 48px;
}
.list .details {
  width: calc(100% - 1rem - 48px);
}
.model-overlay {
  z-index: 10;
  backdrop-filter: contrast(0.75);
}
.profile .photo {
  margin-top: min(-12.5%, -48px);
  min-width: 96px;
}
.profile .photo img {
  border: solid 5px var(--bg-primary) !important;
}
.profile .poster {
  height: 200px;
  background-color: var(--bg-muted);
  overflow: hidden;
}
.searchbar input {
  background: transparent;
  outline: none;
  border: none;
  padding-top: 0.65rem;
  padding-bottom: 0.65rem;
}
.searchbar input:focus + {
  border: solid 1px #007bbf !important;
  background-color: transparent !important;
}
.searchbar input::placeholder {
  color: var(--text-muted);
  opacity: 1;
}
.searchbar .auto-suggestions {
  display: none;
  z-index: 5;
}
.searchbar > .suggestions > div {
  background-color: black;
  width: calc(100% - 6rem);
  box-shadow: rgb(255 255 255 / 20%) 0px 0px 15px,
    rgb(255 255 255 / 15%) 0px 0px 3px 1px;
}
.sidebar {
  z-index: 3;
}
.sidebar > div {
  width: 275px;
}
.sidebar .nav-icon {
  margin-right: 20px;
  font-size: 27px;
}
.sidebar .nav-icon i {
  width: 30px;
}
.sidebar .nav-icon .bi.bi-hash.fw-bold::before {
  font-weight: bold !important;
  color: #000000;
}
.sidebar .nav {
  transition-duration: 0.2s;
  width: max-content;
}
.sidebar .position-fixed {
  width: inherit;
  overflow-y: auto;
}
.sidebar .profile-image,
.drawer .profile-image {
  width: 40px;
  height: 40px;
}
.compose-btn {
  width: 100% !important;
}
.drawer {
  z-index: 10;
  width: 280px;
}
@media screen and (max-width: 1199px) {
  .sidebar > div {
    width: 80px;
  }
  .sidebar .nav {
    font-size: 22px;
    padding: 10px 15px;
    border-radius: 50px;
    transition-duration: 0.2s;
    width: max-content;
  }
  .sidebar .nav-icon {
    margin: 0;
  }
  .compose-btn {
    width: min-content !important;
  }
}
@media screen and (max-width: 575px) {
  .sidebar > div > div {
    border-top: solid 1px var(--border);
  }
  .sidebar > div {
    width: 100%;
  }
  .sidebar .nav {
    font-size: 22px;
    padding: 10px 15px;
    border-radius: 50px;
    transition-duration: 0.2s;
    width: max-content;
  }
  .sidebar .nav-icon {
    margin: 0;
  }
}
.tabbar .active {
  border-bottom: solid 5px;
  border-color: var(--app-color) !important;
  color: var(--text-primary) !important;
}
.tabbar .pages::-webkit-scrollbar {
  height: 2px;
}
.tabbar .pages::-webkit-scrollbar-thumb {
  background: var(--text-muted);
}
.compose::-webkit-scrollbar {
  width: 7px;
  border-radius: 20px;
}
.compose::-webkit-scrollbar-track{
  background-clip: padding-box;
  border-radius: 20px;
}
.compose::-webkit-scrollbar-thumb {
  background-clip: padding-box;
  border-radius: 20px;
  background: var(--text-muted);
}
.compose .position-sticky{
  z-index: 20;
  backdrop-filter: blur(12px);
}
.tabbar .tab {
  flex-grow: 1;
  width: min-content;
  min-width: 25%;
}
.tabbar .tabs {
  position: sticky;
  backdrop-filter: blur(1000px);
  backface-visibility: black;
  background-color: var(--bg-primary);
  top: 57px;
}
.tweet .photo {
  width: 60px;
}
.tweet .profile-image {
  width: 48px;
  height: 48px;
}
.tweet .details {
  width: calc(100% - 1rem - 48px);
}
.oneline {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.dropdown-menu {
  min-width: auto;
  width: max-content;
}

.chat .profile-image {
  width: 30px;
  height: 30px;
}

.text-message-container .message-delete {
  display: none;
}

.text-message-container:hover .message-delete {
  display: block;
}
.modal .profile {
  height: min(100vw, 75vh);
}
.header .profile-image {
  width: 36px;
  height: 36px;
}
.drawer {
  box-shadow: rgb(217 217 217 / 20%) 0px 0px 5px,
    rgb(217 217 217 / 25%) 0px 1px 4px 1px;
  animation: drawer-trasition 0.3s ease;
}

@keyframes drawer-trasition {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0%);
  }
}
.sidebar .details{
  width: calc(100% - 48px);
}